body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

.center {
    text-align: center;
    font-size: 20px; 
    font-family:'Courier New', Courier, monospace;
    background-color: #74ebd5;
    background-image: url('gmae.png'); /* Replace 'your-image-url.jpg' with the actual path to your image */
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
    width: 400px; /* Adjust the width as needed */
    height: 360px; /* Adjust the height as needed */
}


a {
    text-decoration: none; /* line remove*/
    color: beige;
  }